<mat-card *ngIf="property" class="property-detail-card">
  <mat-card-header>
    <mat-card-title>{{property.name}}</mat-card-title>
    <mat-card-subtitle>{{property.streetAddress}}, {{property.city}}</mat-card-subtitle>
  </mat-card-header>
  <div class="icons" fxLayout="row" fxLayoutAlign="center center">
    <button [matTooltip]="property.phone"
            class="example-button"
            mat-button
            matTooltipHideDelay="10">
      <mat-icon> contact_phone</mat-icon>
    </button>
    <button #tooltip="matTooltip" [matTooltip]="property.email"
            class="example-button"
            mat-button
            matTooltipHideDelay="10">
      <mat-icon> email</mat-icon>
    </button>
    <button #tooltip="matTooltip" [matTooltip]="property.url"
            class="example-button"
            mat-button
            matTooltipHideDelay="10">
      <mat-icon>language</mat-icon>
    </button>
    <button #tooltip="matTooltip" *ngIf="property.favorite" [matTooltip]="'Top Rated'"
            class="example-button"
            mat-button
            matTooltipHideDelay="10">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <mat-card-content>

    <div class="wrapper" fxLayout="column" fxLayoutAlign="start stretch">

      <mat-list class="property-details">

        <!--        <mat-list-item>-->
        <!--          <span>PHOTOS</span>-->
        <!--          <div class="image-list" fxLayout="row">-->
        <!--            <ng-container *ngFor="let image of property.photos">-->
        <!--              <img [src]="image" class="image-list__item"/>-->
        <!--            </ng-container>-->
        <!--          </div>-->
        <!--        </mat-list-item>-->


        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             *ngIf="property.photos"
                             class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list-item>
                <mat-icon>home</mat-icon>
                <div class="mat-list-item-text">
                  <span>PHOTOS</span>
                </div>
              </mat-list-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="second-filters" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <ng-container *ngFor="let image of property.photos">
              <div class="image-list">
                <img (click)="openDialog(image)" [src]="image" class="image-list__item"/>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>

        <mat-divider></mat-divider>

        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list-item>
                <mat-icon>location_city</mat-icon>
                <div class="mat-list-item-text">
                  <span>{{property.management}}</span>
                </div>
              </mat-list-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let address of property.managementOffices" class="property-address">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="mat-list-item-content">
                <div class="mat-list-item-icon">
                  <mat-icon> location_on</mat-icon>
                </div>
                <div class="mat-list-item-text">
                  <span> {{address.streetAddress}}, {{address.city}}</span>
                </div>
              </div>
            </mat-list-item>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="property.favorite">
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon> streetview</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>{{property.neighborhood}}</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon> person_pin</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>{{property.onsiteManager}}</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="property.regionalName"></mat-divider>
        <mat-list-item *ngIf="property.regionalName">
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon>business_center</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>{{property.regionalName}}</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="property.section8">
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon>check_circle</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>Section 8</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="property.petInfo.allowed">
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon>pets</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>Pet Friendly</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="mat-list-item-content">
            <div class="mat-list-item-icon">
              <mat-icon>build</mat-icon>
            </div>
            <div class="mat-list-item-text">
              <span>Build: {{property.yearBuilt}}</span> <br>
              <span>Renovated: {{property.yearRenovated}}</span>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             *ngIf="property.highValueAmenities != 0"
                             class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list-item>
                <mat-icon>devices_other</mat-icon>
                <div class="mat-list-item-text">
                  <span>HIGH-VALUE Amenities</span>
                </div>
              </mat-list-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let unit of property.highValueAmenities" class="property-address">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="mat-list-item-content">
                <div class="mat-list-item-icon">
                  <mat-icon>adjust</mat-icon>
                </div>
                <div class="mat-list-item-text">
                  <span>{{unit}}</span>
                </div>
              </div>
            </mat-list-item>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
                             *ngIf="property.unitAmenities != 0"
                             class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list-item>
                <mat-icon>home</mat-icon>
                <div class="mat-list-item-text">
                  <span>PROPERTY AMENITIES</span>
                </div>
              </mat-list-item>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let unit of property.unitAmenities" class="property-address">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="mat-list-item-content">
                <div class="mat-list-item-icon">
                  <mat-icon>adjust</mat-icon>
                </div>
                <div class="mat-list-item-text">
                  <span>{{unit}}</span>
                </div>
              </div>
            </mat-list-item>
          </div>
        </mat-expansion-panel>


      </mat-list>
      <mat-divider></mat-divider>


    </div>

  </mat-card-content>
</mat-card>




