<ng-container *ngIf="!selectedPropertyId">
  <mat-toolbar class="header">
    Smart Map
  </mat-toolbar>
  <div *ngFor="let record of results" style="margin: 10px 0">
    <app-property-list-item
      (click)="viewProperty(record.propertyID)"
      [city]="record.city"
      [management]="record.management"
      [name]="record.name"
      [photo]="record.photo"
      [streetAddress]="record.streetAddress"
    >
    </app-property-list-item>
  </div>
</ng-container>

<ng-container *ngIf="selectedPropertyId">
  <mat-toolbar class="header">
    <span (click)="goBack()" class="header">
      <mat-icon>arrow_back_ios</mat-icon>
      Go Back
  </span>
  </mat-toolbar>

  <app-property-detail [propertyID]="selectedPropertyId"></app-property-detail>
</ng-container>
